<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi sitio web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" >
            <li class="nav-item" (click)="getIsLogin()" *ngIf="isLogin; else invitado">
              <a class="nav-link" [routerLink]="['index']">Inicio</a>
            </li>
            <ng-template #invitado>
              <a class="nav-link"  [routerLink]="['']" (click)="getIsLogin()">Inicio</a>
            </ng-template>
            <li class="nav-item" *ngIf="isLogin; else logueado">
              <a class="nav-link" [routerLink]="['login']" (click)="logout()">Log-out</a>
            </li>
            <ng-template #logueado>
              <a class="nav-link" (click)="logout()">Premiun</a>
            </ng-template>
          </ul>
        </div>
      </div>
    </nav>
  </header>
